* {
  box-sizing: border-box
} 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3.5rem;
}
h1 {
  color: whitesmoke;
  font-family: 'Bungee Inline', cursive;
}

h2 {
  font-family: 'Playball', cursive;
  color: #874c62;
}

ul#nav li {
  display: inline;
}

li {
  font-size: 15px;
}
#recipeSplash {
  display: block;
}
#recipe-details {
  display: none;
}

.jumbotron {
  background-color: #a7d2cb;
  margin-bottom: auto;
  padding: 40px;
}
.iconJumbo {
  width: 45px;
}
.card-image-top {
  width: 100px;
}
.btn {
  background-color: whitesmoke;
  color: black;
  border-color: whitesmoke;
}
.btn:hover {
  background-color: #c98474;
  border-color:#c98474;
}
.foodBtn {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f2d388;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;

}
.foodBtn:focus {
  background-color: #874c62;
  box-shadow: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
.modalBtn {
  padding: 15px;
}

.modalBtn, #recipeBtn1,  #recipeBtn2,  #recipeBtn3 {
background-color: #874c62;
color: white;
}
.modalBtn:hover , #recipeBtn1:hover ,  #recipeBtn2:hover ,  #recipeBtn3:hover  {
background-color:#c98474 ;
}



.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #c98474; 
}

.popInDiv {
  padding: 15px;
  font-family: 'Playball', cursive;
  font-size: 20px;
  
}
.card-text {
  font-size: 15px;
}
.recipeSourceP{
  float: right;
}

.page-link{
  color: black;
  border-color: #874c62;
}
.page-item.active .page-link{
  background-color: #874c62;
  color: whitesmoke;
  border-color: #874c62;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}


/* Other CSS */
.left-col-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,rgba(220,130,57,.3), rgba(220,130,57,1), rgba(220,130,57,.3));
}
/* .recipeCard {
  display: none;
  opacity: 0;
} */

/* CSS for Add Food Modal */
#addFoodForm label.lead {
  color: #9a031e;
}
#addFoodForm span {
  font-size: .8rem;
  color: #33658a;
}
#addFoodModal hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,rgba(220,130,57,.3), rgba(220,130,57,1), rgba(220,130,57,.3));
}
#foodInputError,
#tempSelectError,
#weatherSelectError {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,0,0,.22);
  border-radius: .25rem;
  line-height: 1;
}
#foodInputError span, 
#tempSelectError span,
#weatherSelectError span {
  text-align: center;
  font-size: .9rem;
  padding: .5rem;
  background-color: rgba(255,255,255,.85);
}
#addFoodMsgOverlay {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

/* CSS for Add Food Modal Trigger, Popular Recipes Btns */
#addFoodModalTriggerBtn {
  font-size: .9rem;
}
#popularRecipesBtn {
  font-size: .9rem;
  background-color: #fae9b3;
}
#popularRecipesBtn span {
  font-size: .8rem;
}
#popularRecipesBtn:hover {
  background-color: #dc8239;
  border-color:#dc8239;
  color: white;
}